/* reset */

/* da segnare sempre all'inizio del CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0;
  width: 1080px;
  max-width: 100%;
}

.hero > .container {
  margin: 0 auto;
  padding: 0;
  width: 700px;
  max-width: 100%;

  min-height: 320px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  background-color: #222629;
}

.small-btn {
  border-radius: 25px;
  padding: 10px 15px;
}

.big-btn {
  border-radius: 25px;
  padding: 15px 20px;
}

/* 
.debug {
  background-color: red;
}

.debug .debug {
  background-color: orange;
}

.debug .debug .debug {
  background-color: yellow;
} */

/* HEADER */

.upper-header {
  background-color: #255ee9;
  padding: 20px 0px;
}

.header-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo pagina */
.logo {
  flex: 0 1 25%;
}

/* lista di navigazione nell'header */
.navigation-list {
  flex: 0 1 50%;
}

.link-list {
  text-align: center;
}

.list-item {
  display: inline-block;
  margin: 15px;
}

.link-item {
  color: white;
}

/* pulsante di login */
.button {
  flex: 0 1 25%;
  text-align: right;
}

.login {
  background-color: white;
  font-size: 0.9rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 570px;
  background-color: #255ee9;

  background-image: url("../img/jumbo.png");
  background-size: cover;
}

.header-title {
  color: white;
  font-size: 2.5rem;
}

.hero-paragraph {
  color: white;
  padding: 30px;
  line-height: 30px;
}

.header-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.upper-download .big-btn {
  background-color: white;
}

.web-btn {
  background-color: #23272a;
  color: white;
}

/* MAIN */

/* sfondo sezione */
.white-bkg-sections {
  padding: 40px 0px;
  background-color: white;
}

.grey-bkg-sections {
  padding: 40px 0px;
  background-color: #f6f6f6;
}

/* direzione card */
.card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  height: 400px;
}

.reverse-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
  height: 400px;
}

/* colorazione card */
.card-image {
  flex-basis: 60%;
}

.card-desciption {
  flex-basis: 40%;
  padding-left: 20px;
}

.description {
  line-height: 25px;
}

.title-card {
  font-size: 2.5rem;
  margin-bottom: 25px;
  padding-top: 25px;
}

.server-names {
  height: 360px;
}

.download-card {
  min-height: 700px;
  text-align: center;
}

.card-subtitle {
  margin: 55px 0;
}

.card-question {
  padding: 25px 40px;
  font-size: 1.5rem;
  background-image: url(../img/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.lower-download .big-btn {
  background-color: #7289da;
  color: white;
}

/* FOOTER */

/* sezione foooter per link */
.upper-footer {
  display: flex;
  min-height: 600px;
  padding: 80px 0px 30px 0px;
  border-bottom: 1px solid #7289da;
}

.small-col {
  flex-basis: 28%;
}

.big-col {
  display: flex;
  flex-basis: 72%;
  gap: 40px;
}

.upper-footer h3 {
  color: #7289da;
}

.language-selection {
  margin-top: 10px;
  color: white;
  line-height: 40px;
}

.flag {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.small-col h3 {
  font-size: 2rem;
}

.big-card-item {
  flex-basis: 25%;
}

.footer-list {
  list-style-type: none;
  line-height: 40px;
}

.footer-list li a {
  color: white;
}

/* sezione footer per pulsanti */
.lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 130px;
  padding: 10px 0px 0px 0px;
}

.footer-btn {
  padding: 5px 10px;
  text-align: center;
}

.sign-up-btn {
  background-color: #7289da;
  color: white;
}
